/* .nav-item{
  padding: 25px 15px;
  color: #160813;
    font-weight: 800;
}

.navbar{
    background-color: #efeaef !important;
    
}
.nav-item a{
 display: flex;
 color: #160813;
  }
 
  .navbar-brand a{
    color: #160813;
  } */